In [1]:
import pandas as pd
import pickle
import matplotlib.pyplot as plt
import geopandas as gpd
from shapely.geometry import Point

%matplotlib inline

In [2]:
may_trips = pd.read_csv('../data/may_trip.csv')
may_trips.shape

(224969, 16)

In [3]:
may_trips.columns

Index(['pubTimeStamp', 'companyName', 'tripRecordNum', 'sumdID',
       'tripDuration', 'tripDistance', 'startDate', 'startTime', 'endDate',
       'endTime', 'startLatitude', 'startLongitude', 'endLatitude',
       'endLongitude', 'tripRoute', 'create_dt'],
      dtype='object')

In [4]:
may_trips = may_trips.rename(columns={"pubTimeStamp": "time_stamp",
                        "companyName": "company_name",
                        "tripRecordNum": "trip_number",
                        "sumdID": "scooter_id",
                         "tripDuration": "trip_duration",
                         "tripDistance": "trip_distance",
                         "startDate": "start_date",
                         "startTime": "start_time",
                         "endDate": "end_date",
                         "endTime": "end_time",
                         "startLatitude": "start_lat",
                         "startLongitude": "start_lon",
                         "endLatitude": "end_lat",
                         "endLongitude": "end_lon",
                         "tripRoute": "trip_route",
                         "create_dt": "created_date"})

In [5]:
may_trips['company_name'].value_counts()

Lime             102569
Lyft              54271
Bird              53496
SPIN               8471
Bolt Mobility      4912
Gotcha              650
JUMP                600
Name: company_name, dtype: int64

In [6]:
may_trips.groupby(['company_name'])['trip_distance'].sum()

company_name
Bird             2.593497e+08
Bolt Mobility    3.619746e+07
Gotcha           9.923631e+05
JUMP             3.315629e+06
Lime             2.408221e+08
Lyft             3.503556e+08
SPIN             2.425775e+07
Name: trip_distance, dtype: float64

In [7]:
may_trips.dtypes

time_stamp        object
company_name      object
trip_number       object
scooter_id        object
trip_duration    float64
trip_distance    float64
start_date        object
start_time        object
end_date          object
end_time          object
start_lat        float64
start_lon        float64
end_lat          float64
end_lon          float64
trip_route        object
created_date      object
dtype: object

In [8]:
may_trips.shape

(224969, 16)

<bound method NDFrame.describe of                         time_stamp company_name trip_number  \
0       2019-05-01 00:00:55.423000         Bird     BRD2134
1       2019-05-01 00:03:33.147000         Lyft        LFT5
2       2019-05-01 00:05:55.570000         Bird     BRD2168
3       2019-05-01 00:05:55.570000         Bird     BRD2166
4       2019-05-01 00:05:55.570000         Bird     BRD2165
...                            ...          ...         ...
224964  2019-06-01 23:50:42.373000         Lime     LIM5241
224965  2019-06-01 23:50:42.397000         Lime     LIM5285
224966  2019-06-01 23:50:42.480000         Lime     LIM5413
224967  2019-06-01 23:50:42.480000         Lime     LIM5412
224968  2019-06-13 05:17:41.630000         SPIN      SPI146

                  scooter_id  trip_duration  trip_distance  \
0               Powered9EAJL       3.000000      958.00528
1              Powered296631       1.715600     1371.39112
2               Powered7S2UU       3.000000     2296.58800
3               PoweredZIIVX       3.000000     1200.78744
4               PoweredJ7MB3       2.000000      351.04988
...                      ...            ...            ...
224964  PoweredJ6OI7QJIK4NO2      62.316667        0.00000
224965  PoweredQDVYGLDL6ZQDU      22.383333     9337.15680
224966  PoweredH5HCTZB5WVABT      40.200000    20951.18880
224967  PoweredFXC5KHVLI3T7C      41.033333    21049.61280
224968        Powered5750098   36206.000000    21551.83796

                 start_date       start_time             end_date  \
0       2019-05-01 00:00:00  00:00:20.460000  2019-05-01 00:00:00
1       2019-05-01 00:00:00  00:01:50.090000  2019-05-01 00:00:00
2       2019-05-01 00:00:00  00:03:47.363333  2019-05-01 00:00:00
3       2019-05-01 00:00:00  00:04:21.386666  2019-05-01 00:00:00
4       2019-05-01 00:00:00  00:04:27.796666  2019-05-01 00:00:00
...                     ...              ...                  ...
224964  2019-05-31 00:00:00         23:16:25  2019-06-01 00:00:00
224965  2019-05-31 00:00:00         23:59:45  2019-06-01 00:00:00
224966  2019-05-31 00:00:00         23:31:19  2019-06-01 00:00:00
224967  2019-05-31 00:00:00         23:30:26  2019-06-01 00:00:00
224968  2019-05-19 00:00:00         01:49:22  2019-06-13 00:00:00

               end_time  start_lat  start_lon    end_lat    end_lon  \
0       00:02:52.346666  36.157100 -86.803600  36.156600 -86.806700
1       00:03:33.026666  36.157970 -86.778960  36.160540 -86.776890
2       00:07:13.596666  36.154700 -86.781800  36.156500 -86.786800
3       00:06:59.176666  36.149400 -86.779500  36.153100 -86.779600
4       00:06:23.150000  36.177800 -86.786600  36.177400 -86.787600
...                 ...        ...        ...        ...        ...
224964         00:18:44  36.131741 -86.779007  36.155466 -86.779859
224965         00:22:08  36.126207 -86.789366  36.149205 -86.786162
224966         00:11:31  36.126730 -86.778251  36.143138 -86.793144
224967         00:11:28  36.126730 -86.778195  36.143140 -86.793125
224968         05:14:40  36.148668 -86.813511  36.147776 -86.740437

                                               trip_route  \
0       [[36.157235,-86.803612],[36.157235,-86.80362],...
1       [[36.15797,-86.77896],[36.15795,-86.77873],[36...
2          [[36.155068,-86.782124],[36.156597,-86.78675]]
3       [[36.149741,-86.779344],[36.149741,-86.779327]...
4       [[36.177699,-86.786477],[36.177711,-86.786469]...
...                                                   ...
224964                              [[36.1317,-86.77903]]
224965  [[36.12621,-86.78937],[36.125840000000004,-86....
224966  [[36.12673,-86.77825],[36.12664,-86.77731],[36...
224967  [[36.12673,-86.77819],[36.126740000000005,-86....
224968  [[36.147775779365219,-86.740436729892863],[36....

                      created_date
0       2019-05-02 05:30:23.780000
1       2019-05-02 07:20:32.757000
2       2019-05-02 05:30:24.530000
3       2019-05-02 05:30:24.237000
4       2019-05-02 05:30:24.207000
...                            ...
224964  2019-06-02 08:04:56.923000
224965  2019-06-02 08:04:58.683000
224966  2019-06-02 08:05:02.987000
224967  2019-06-02 08:05:02.957000
224968  2019-06-14 09:36:56.957000

[224969 rows x 16 columns]>