In [9]:
from shapely.geometry import Point
import pandas as pd
import geopandas as gpd
import pickle
import matplotlib.pyplot as plt
import folium
from folium.plugins import HeatMap
import numpy as np

%matplotlib inline

In [10]:
may = pd.read_pickle("../data/may.pkl")
may.head(10)

,pubdatetime,latitude,longitude,sumdid,chargelevel,companyname
0,2019-05-01 00:01:41.247,36.136822,-86.799877,PoweredLIRL1,93.0,0
1,2019-05-01 00:01:41.247,36.191252,-86.772945,PoweredXWRWC,35.0,0
2,2019-05-01 00:01:41.247,36.144752,-86.806293,PoweredMEJEH,90.0,0
3,2019-05-01 00:01:41.247,36.162056,-86.774688,Powered1A7TC,88.0,0
4,2019-05-01 00:01:41.247,36.150973,-86.783109,Powered2TYEF,98.0,0
5,2019-05-01 00:01:41.247,36.157188,-86.769978,Powered3F3VK,82.0,0
6,2019-05-01 00:01:41.247,36.154348,-86.784765,PoweredVL7YG,56.0,0
7,2019-05-01 00:01:41.247,36.158930,-86.775987,Powered5LNUG,100.0,0
8,2019-05-01 00:01:41.247,36.135993,-86.804226,Powered7SPQQ,85.0,0
9,2019-05-01 00:01:41.247,36.148938,-86.811256,PoweredBV1DT,65.0,0

In [11]:
may['sumdid'].value_counts()

PoweredIE7H5RIN474PE    8921
PoweredUK65LOU3K5N7G    8748
PoweredIOHG2G3XKATUL    8576
PoweredJCKMQCAL2SSNJ    8521
Powered4NYK5PWADVIAU    8439
                        ...
Powered1PKP7               1
PoweredN4YI2A7RXZQLY       1
Powered3361332             1
Powered523737              1
PoweredCI6VKIK2KOFMC       1
Name: sumdid, Length: 8303, dtype: int64

In [12]:
may['chargelevel'].value_counts()

100.00    2364422
0.00      1025190
98.00      456863
99.00      417371
96.00      398695
           ...
13.35           1
27.26           1
21.15           1
17.04           1
58.90           1
Name: chargelevel, Length: 885, dtype: int64

In [13]:
## Does "length: 8303" denote the number of scooters in the list?

In [14]:
may.dtypes

pubdatetime    datetime64[ns]
latitude              float64
longitude             float64
sumdid                 object
chargelevel           float64
companyname             int64
dtype: object

In [ ]:
may['companyname'].value_counts()

In [ ]:
may.isnull().sum()

In [ ]:
bolt = may.loc[may.companyname == 6]
bolt.shape

In [ ]:
bolt_100 = bolt.loc[bolt.chargelevel == 100.00]
bolt_100.shape

In [ ]:
bolt_100['geometry'] = bolt_100.apply(lambda x: Point((x.longitude, x.latitude)), axis=1)
bolt_100.head(3)

Experiment

In [7]:
top_scooter = may["sumdid"].isin(["PoweredIE7H5RIN474PE"])
may[top_scooter]

,pubdatetime,latitude,longitude,sumdid,chargelevel,companyname
1365,2019-05-01 00:04:56.910,36.150001,-86.761955,PoweredIE7H5RIN474PE,91.0,3
3607,2019-05-01 00:09:56.970,36.150001,-86.761955,PoweredIE7H5RIN474PE,91.0,3
5783,2019-05-01 00:14:58.037,36.150001,-86.761955,PoweredIE7H5RIN474PE,91.0,3
7982,2019-05-01 00:19:57.383,36.149929,-86.761890,PoweredIE7H5RIN474PE,91.0,3
10158,2019-05-01 00:24:57.743,36.149929,-86.761890,PoweredIE7H5RIN474PE,91.0,3
...,...,...,...,...,...,...
20277855,2019-05-31 23:38:26.567,36.150014,-86.761922,PoweredIE7H5RIN474PE,5.0,3
20281419,2019-05-31 23:43:26.623,36.150014,-86.761922,PoweredIE7H5RIN474PE,5.0,3
20284877,2019-05-31 23:48:26.857,36.150009,-86.761919,PoweredIE7H5RIN474PE,5.0,3
20288303,2019-05-31 23:53:27.153,36.150009,-86.761919,PoweredIE7H5RIN474PE,5.0,3
20291764,2019-05-31 23:58:27.207,36.150009,-86.761919,PoweredIE7H5RIN474PE,5.0,3

In [8]:
top_scooter.dtypes

dtype('bool')

In [21]:
may_01['date'] = may['pubdatetime'].dt.date
may_01.shape()

C:\Users\Erin\AppData\Local\Temp/ipykernel_3336/3602254915.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  may_01['date'] = may['pubdatetime'].dt.date

TypeError: 'tuple' object is not callable

In [ ]:
may_01 = may.loc[]

# read in shape file

In [ ]:
zip_codes = gpd.read_file('../data/zip_codes/zip_codes.shp')

In [ ]:
zip_codes.head()

In [ ]:
zip_codes.plot()

In [ ]:
fig, ax = plt.subplots(figsize=(100,40))
zip_codes.plot(ax = ax)
ax.axis('off')

In [ ]:
zip_codes.crs

In [ ]:
bolt_100_geo = gpd.GeoDataFrame(bolt_100, 
                           crs = zip_codes.crs, 
                           geometry = bolt_100['geometry'])

In [ ]:
type(bolt_100_geo)

In [ ]:
bolt_100_geo.dtypes

In [ ]:
#fig, ax = matplotlib.subplots()
ax = zip_codes.plot(figsize = (8, 10), color = 'lightgreen')
bolt_100_geo.plot(ax = ax, column="sumdid");
plt.show();

In [ ]:
zip_codes.geometry.centroid

In [ ]:
center = zip_codes.geometry.centroid[42]

In [ ]:
# reverse the order when constructing the array for folium location
area_center = [center.y, center.x]

# check the order of area_center, the location for our folium map
print(area_center)

In [ ]:
map_bolt_100 = folium.Map(location = area_center, zoom_start = 12)
map_bolt_100

In [ ]:
i = 0
for row_index, row_values in bolt_100_geo.iterrows():
    if i <3: 
        print('index is', row_index)
        print('values are:')
        print(' ')
        print(row_values)
        print('------------------------- ')
        i+=1

In [ ]:
#keep all folium code for a map in the same cell - folium is a memory hog.

#draw our zip code area: 37207
map_bolt = folium.Map(location =  area_center, zoom_start = 12)

folium.GeoJson(zip_codes).add_to(map_bolt)

#iterate through stops_in_37207 to create locations and markers 
#for each bus stop
#remember for Folium locations, lat is listed first!!

for row_index, row_values in bolt_100_geo.iterrows():
    loc = [row_values['latitude'], row_values['longitude']]
    pop = str(row_values['sumdid'])
    icon=folium.Icon(color="blue",icon="bus", prefix='fa')
    
    marker = folium.Marker(
        location = loc, 
        popup = pop, icon = icon) 

    marker.add_to(map_bolt)

#display our map
map_bolt