In [4]:
import pandas as pd
import pickle
import matplotlib.pyplot as plt

%matplotlib inline

In [5]:
may = pd.read_pickle("../data/may.pkl")
may.head(10)

,pubdatetime,latitude,longitude,sumdid,chargelevel,companyname
0,2019-05-01 00:01:41.247,36.136822,-86.799877,PoweredLIRL1,93.0,0
1,2019-05-01 00:01:41.247,36.191252,-86.772945,PoweredXWRWC,35.0,0
2,2019-05-01 00:01:41.247,36.144752,-86.806293,PoweredMEJEH,90.0,0
3,2019-05-01 00:01:41.247,36.162056,-86.774688,Powered1A7TC,88.0,0
4,2019-05-01 00:01:41.247,36.150973,-86.783109,Powered2TYEF,98.0,0
5,2019-05-01 00:01:41.247,36.157188,-86.769978,Powered3F3VK,82.0,0
6,2019-05-01 00:01:41.247,36.154348,-86.784765,PoweredVL7YG,56.0,0
7,2019-05-01 00:01:41.247,36.158930,-86.775987,Powered5LNUG,100.0,0
8,2019-05-01 00:01:41.247,36.135993,-86.804226,Powered7SPQQ,85.0,0
9,2019-05-01 00:01:41.247,36.148938,-86.811256,PoweredBV1DT,65.0,0

In [6]:
may['sumdid'].value_counts()

PoweredIE7H5RIN474PE    8921
PoweredUK65LOU3K5N7G    8748
PoweredIOHG2G3XKATUL    8576
PoweredJCKMQCAL2SSNJ    8521
Powered4NYK5PWADVIAU    8439
                        ...
Powered1PKP7               1
PoweredN4YI2A7RXZQLY       1
Powered3361332             1
Powered523737              1
PoweredCI6VKIK2KOFMC       1
Name: sumdid, Length: 8303, dtype: int64

In [7]:
may['chargelevel'].value_counts()

100.00    2364422
0.00      1025190
98.00      456863
99.00      417371
96.00      398695
           ...
13.35           1
27.26           1
21.15           1
17.04           1
58.90           1
Name: chargelevel, Length: 885, dtype: int64

In [4]:
## Does "length: 8303" denote the number of scooters in the list?

In [9]:
may.dtypes

pubdatetime    datetime64[ns]
latitude              float64
longitude             float64
sumdid                 object
chargelevel           float64
companyname             int64
dtype: object

In [10]:
may['companyname'].value_counts()

3    7111655
0    4334006
1    3112581
5    2984630
4    1301001
2     915314
6     524395
Name: companyname, dtype: int64

In [11]:
may.isnull().sum()

pubdatetime      0
latitude         0
longitude        0
sumdid           0
chargelevel    283
companyname      0
dtype: int64

In [12]:
bolt = may.loc[may.companyname == 6]
bolt.shape

(524395, 6)

In [14]:
bolt_100 = bolt.loc[bolt.chargelevel == 100.00]
bolt_100.shape

(89861, 6)