## may inventory and trip data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pickle
import geopandas as gpd
from shapely.geometry import Point
%matplotlib inline

In [2]:
%%time
may = pd.read_csv('../data/may.csv')
may = may.sort_values('companyname')

Wall time: 31.8 s

In [3]:
may.head(10)

,pubdatetime,latitude,longitude,sumdid,sumdtype,chargelevel,sumdgroup,costpermin,companyname
0,2019-05-01 00:01:41.247000,36.136822,-86.799877,PoweredLIRL1,Powered,93.0,scooter,0.0,Bird
5028030,2019-05-11 16:46:35.640000,36.162264,-86.771856,PoweredBM9H5,Powered,50.0,scooter,0.0,Bird
5028029,2019-05-11 16:46:35.640000,36.156659,-86.776048,PoweredCPJ2D,Powered,48.0,scooter,0.0,Bird
5028028,2019-05-11 16:46:35.640000,36.153987,-86.796820,PoweredNM176,Powered,97.0,scooter,0.0,Bird
5028027,2019-05-11 16:46:35.640000,36.138335,-86.807256,Powered6GM9U,Powered,87.0,scooter,0.0,Bird
5028026,2019-05-11 16:46:35.640000,36.162575,-86.771640,PoweredKTBB5,Powered,37.0,scooter,0.0,Bird
5028025,2019-05-11 16:46:35.640000,36.171047,-86.782196,PoweredVX7S1,Powered,80.0,scooter,0.0,Bird
5028024,2019-05-11 16:46:35.640000,36.145138,-86.780191,PoweredR1256,Powered,81.0,scooter,0.0,Bird
5028023,2019-05-11 16:46:35.640000,36.152678,-86.797014,PoweredS3KLU,Powered,39.0,scooter,0.0,Bird
5028031,2019-05-11 16:46:35.640000,36.160880,-86.781606,PoweredBHAPC,Powered,100.0,scooter,0.0,Bird

In [4]:
may.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20292503 entries, 0 to 10146251
Data columns (total 9 columns):
 #   Column       Dtype
---  ------       -----
 0   pubdatetime  object
 1   latitude     float64
 2   longitude    float64
 3   sumdid       object
 4   sumdtype     object
 5   chargelevel  float64
 6   sumdgroup    object
 7   costpermin   float64
 8   companyname  object
dtypes: float64(4), object(5)
memory usage: 1.5+ GB

In [5]:
may.tail(10)

,pubdatetime,latitude,longitude,sumdid,sumdtype,chargelevel,sumdgroup,costpermin,companyname
12246901,2019-05-23 12:20:08.247000,36.15226,-86.79106,Powered8389404,Powered,99.0,Scooter,0.23,Spin
12246902,2019-05-23 12:20:08.247000,36.15228,-86.78356,Powered7465952,Powered,98.0,Scooter,0.23,Spin
12246903,2019-05-23 12:20:08.247000,36.15349,-86.79385,Powered3643342,Powered,93.0,Scooter,0.23,Spin
12246904,2019-05-23 12:20:08.247000,36.15197,-86.78450,Powered9105973,Powered,98.0,Scooter,0.23,Spin
12246905,2019-05-23 12:20:08.247000,36.17728,-86.75085,Powered9703898,Powered,98.0,Scooter,0.23,Spin
12246906,2019-05-23 12:20:08.247000,36.15089,-86.78283,Powered3555620,Powered,99.0,Scooter,0.23,Spin
12246907,2019-05-23 12:20:08.247000,36.17605,-86.75674,Powered1098749,Powered,92.0,Scooter,0.23,Spin
12246908,2019-05-23 12:20:08.247000,36.14787,-86.80696,Powered4207407,Powered,99.0,Scooter,0.23,Spin
12246897,2019-05-23 12:20:08.247000,36.16875,-86.77273,Powered6588515,Powered,92.0,Scooter,0.23,Spin
10146251,2019-05-20 19:42:33.423000,36.15853,-86.78045,Powered5484396,Powered,99.0,Scooter,0.00,Spin

In [6]:
may.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20292503 entries, 0 to 10146251
Data columns (total 9 columns):
 #   Column       Dtype
---  ------       -----
 0   pubdatetime  object
 1   latitude     float64
 2   longitude    float64
 3   sumdid       object
 4   sumdtype     object
 5   chargelevel  float64
 6   sumdgroup    object
 7   costpermin   float64
 8   companyname  object
dtypes: float64(4), object(5)
memory usage: 1.5+ GB

In [7]:
may.pubdatetime = pd.to_datetime(may.pubdatetime)
may.head(10)

,pubdatetime,latitude,longitude,sumdid,sumdtype,chargelevel,sumdgroup,costpermin,companyname
0,2019-05-01 00:01:41.247,36.136822,-86.799877,PoweredLIRL1,Powered,93.0,scooter,0.0,Bird
5028030,2019-05-11 16:46:35.640,36.162264,-86.771856,PoweredBM9H5,Powered,50.0,scooter,0.0,Bird
5028029,2019-05-11 16:46:35.640,36.156659,-86.776048,PoweredCPJ2D,Powered,48.0,scooter,0.0,Bird
5028028,2019-05-11 16:46:35.640,36.153987,-86.796820,PoweredNM176,Powered,97.0,scooter,0.0,Bird
5028027,2019-05-11 16:46:35.640,36.138335,-86.807256,Powered6GM9U,Powered,87.0,scooter,0.0,Bird
5028026,2019-05-11 16:46:35.640,36.162575,-86.771640,PoweredKTBB5,Powered,37.0,scooter,0.0,Bird
5028025,2019-05-11 16:46:35.640,36.171047,-86.782196,PoweredVX7S1,Powered,80.0,scooter,0.0,Bird
5028024,2019-05-11 16:46:35.640,36.145138,-86.780191,PoweredR1256,Powered,81.0,scooter,0.0,Bird
5028023,2019-05-11 16:46:35.640,36.152678,-86.797014,PoweredS3KLU,Powered,39.0,scooter,0.0,Bird
5028031,2019-05-11 16:46:35.640,36.160880,-86.781606,PoweredBHAPC,Powered,100.0,scooter,0.0,Bird

In [8]:
may.sumdgroup.unique()

array(['scooter', 'Scooter', 'bicycle'], dtype=object)

In [9]:
may_scooters = may.loc[may.sumdgroup.isin(['scooter', 'scooter'])]

In [10]:
may_scooters = may_scooters[['pubdatetime', "latitude", 'longitude', 'sumdid', 'chargelevel', 'costpermin', 'companyname']]

In [11]:
may_scooters.to_pickle('../data/may.pkl')

In [12]:
%%time
may_inv = pd.read_pickle("../data/may.pkl")

Wall time: 1.87 s

In [22]:
may_inv.head(5)

,pubdatetime,latitude,longitude,sumdid,chargelevel,costpermin,companyname,geometry
0,2019-05-01 00:01:41.247,36.136822,-86.799877,PoweredLIRL1,93.0,0.0,Bird,POINT (-86.79988 36.13682)
5028030,2019-05-11 16:46:35.640,36.162264,-86.771856,PoweredBM9H5,50.0,0.0,Bird,POINT (-86.77186 36.16226)
5028029,2019-05-11 16:46:35.640,36.156659,-86.776048,PoweredCPJ2D,48.0,0.0,Bird,POINT (-86.77605 36.15666)
5028028,2019-05-11 16:46:35.640,36.153987,-86.796820,PoweredNM176,97.0,0.0,Bird,POINT (-86.79682 36.15399)
5028027,2019-05-11 16:46:35.640,36.138335,-86.807256,Powered6GM9U,87.0,0.0,Bird,POINT (-86.80726 36.13833)

In [23]:
may_geo = gpd.GeoDataFrame(may_inv)

In [24]:
%%time
may_inv['geometry'] = may_inv.apply(lambda x: Point((x.longitude, x.latitude)), axis=1)

Wall time: 13min 40s

In [31]:
may_inv.head(5)

,pubdatetime,latitude,longitude,sumdid,chargelevel,costpermin,companyname,geometry
0,2019-05-01 00:01:41.247,36.136822,-86.799877,PoweredLIRL1,93.0,0.0,Bird,POINT (-86.799877 36.136822)
5028030,2019-05-11 16:46:35.640,36.162264,-86.771856,PoweredBM9H5,50.0,0.0,Bird,POINT (-86.771856 36.162264)
5028029,2019-05-11 16:46:35.640,36.156659,-86.776048,PoweredCPJ2D,48.0,0.0,Bird,POINT (-86.776048 36.156659)
5028028,2019-05-11 16:46:35.640,36.153987,-86.796820,PoweredNM176,97.0,0.0,Bird,POINT (-86.79682 36.153987)
5028027,2019-05-11 16:46:35.640,36.138335,-86.807256,Powered6GM9U,87.0,0.0,Bird,POINT (-86.807256 36.138335)

In [33]:
may_geo = gpd.GeoDataFrame(may_inv, crs = 4326, geometry = may_inv['geometry'])

In [ ]:
may_geo.plot(column = 'chargelevel', figsize=(10, 10),
              edgecolor = 'black',
              cmap = 'Set2')
plt.show()

In [ ]:
may_companies = list(enumerate(may_inv.companyname.unique()))
may_companies

In [ ]:
unique_scooter = may_inv['sumdid'].unique()
unique_scooter

In [ ]:
may_inv.info()

In [ ]:
may_inv.value_counts('companyname')

In [ ]:
full_charge = may_inv.loc[may_inv['chargelevel'] == 100]
full_charge

In [ ]:
dead = may_inv.loc[may_inv['chargelevel'] <5]
dead

In [ ]:
dead.hist('chargelevel', bins= 10)

In [ ]:
plt.scatter(x='pubdatetime', y= 'sumdid', data = dead)

### may_trip data to join

In [ ]:
%%time
may_trip = pd.read_csv('../data/may_trip.csv')
may_trip = may_trip.sort_values('companyName')

In [ ]:
may_trip.head(5)

In [ ]:
may_trip.columns = may_trip.columns.str.lower()

In [ ]:
may_trip.head(5)