In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pickle
import re
%matplotlib inline

In [2]:
july = pd.read_csv('../data/july.csv')
july.head()

,pubdatetime,latitude,longitude,sumdid,sumdtype,chargelevel,sumdgroup,costpermin,companyname
0,2019-07-01 00:00:33.550000,36.156678,-86.809004,Powered635135,Powered,22.0,scooter,0.15,Lyft
1,2019-07-01 00:00:34.973000,36.145674,-86.794138,Powered790946,Powered,33.0,scooter,0.15,Lyft
2,2019-07-01 00:00:41.183000,36.179319,-86.751538,Powered570380,Powered,76.0,scooter,0.15,Lyft
3,2019-07-01 00:00:41.620000,36.152111,-86.803821,Powered240631,Powered,43.0,scooter,0.15,Lyft
4,2019-07-01 00:00:45.087000,36.149355,-86.797550,Powered970404,Powered,52.0,scooter,0.15,Lyft

In [4]:
july.companyname.unique()

array(['Lyft', 'Bird', 'Spin', 'Bolt', 'Jump', 'Lime', 'Gotcha'],
      dtype=object)

In [14]:
company_dict = {'Lyft':0, 'Bird': 1, 'Spin': 2, 'Bolt': 3, 'Jump': 4, 'Lime': 5, 'Gotcha': 6}

In [8]:
july.companyname = july.companyname.replace(company_dict)

<ipython-input-8-4938db8708cb>:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  july.companyName = july.companyname.replace(company_dict)

In [11]:
july.pubdatetime = pd.to_datetime(july.pubdatetime)
july.head(2)

,pubdatetime,latitude,longitude,sumdid,sumdtype,chargelevel,sumdgroup,costpermin,companyname
0,2019-07-01 00:00:33.550,36.156678,-86.809004,Powered635135,Powered,22.0,scooter,0.15,Lyft
1,2019-07-01 00:00:34.973,36.145674,-86.794138,Powered790946,Powered,33.0,scooter,0.15,Lyft

In [15]:
july.sumdgroup.unique()

array(['scooter', 'Scooter', 'bicycle'], dtype=object)

In [16]:
july_scooters = july.loc[july.sumdgroup.isin(['scooter', 'Scooter'])]

In [17]:
july_scooters = july_scooters[['pubdatetime', 'latitude', 'longitude', 'sumdid', 'chargelevel', 'companyname']]

In [18]:
july_scooters.to_pickle("../data/july.pkl")

In [19]:
july_pkl = pd.read_pickle("../data/july.pkl")
july_pkl.head()

,pubdatetime,latitude,longitude,sumdid,chargelevel,companyname
0,2019-07-01 00:00:33.550,36.156678,-86.809004,Powered635135,22.0,Lyft
1,2019-07-01 00:00:34.973,36.145674,-86.794138,Powered790946,33.0,Lyft
2,2019-07-01 00:00:41.183,36.179319,-86.751538,Powered570380,76.0,Lyft
3,2019-07-01 00:00:41.620,36.152111,-86.803821,Powered240631,43.0,Lyft
4,2019-07-01 00:00:45.087,36.149355,-86.797550,Powered970404,52.0,Lyft

In [21]:
july_pkl['sumdid'].value_counts().head(20)#look into these based on presentation

PoweredK7VBEW7S2VHPG                           8915
PoweredSMYDSCUCCKE3D                           8910
PoweredCPBMGOVZOHE4Z                           8909
Powered9cb2b907-6d4d-5e36-8ba6-62eddb1a0316    8901
Powerede84a0598-5586-5ab3-868a-49fb3c3e7521    8901
Powered9f33a5b8-f3f5-520a-a0e1-decbfcbdf441    8901
Powerede62d51de-f11a-5370-b205-0573be05b307    8901
Powered66039090-df59-5956-8c4b-c9255cb56351    8901
Poweredb1e8790e-5c1f-5446-ad2c-71f245b3c485    8901
Powered8dede812-37ae-5b8c-bcbe-3a64d8298e1d    8901
Powered581a2464-b7ea-5d81-b4e1-4507bc3cd51f    8901
Powered3957b475-fcef-5ccf-8cfd-bc5279598c43    8901
Powered0f28439f-8cff-5984-9e2c-a5554722d5e4    8901
Powered5b5bb847-647f-51af-abb6-7097b1264a64    8901
Poweredc2328400-1fdc-5d46-bf3f-98dc93a4330b    8901
Powered9968c2a6-8fbc-5691-bf72-0a34f2ed0b2d    8901
Powered9579bea8-8ee5-56d2-bc52-96715fbbc077    8901
Powered7ef0a871-50df-595b-b013-f68e7e33d1fb    8901
Powered48a6ee54-84e5-5faa-a1a3-309a8290d366    8901
Powered04a47904-7a63-515a-94af-56e7e88be868    8901
Name: sumdid, dtype: int64

In [23]:
july_pkl.describe()

           latitude     longitude   chargelevel
count  2.506652e+07  2.506652e+07  2.506632e+07
mean   3.783235e+01 -8.670358e+01  5.151019e+01
std    2.497648e+03  2.331620e+00  3.733133e+01
min    0.000000e+00 -9.744388e+01  0.000000e+00
25%    3.612010e+01 -8.678850e+01  3.000000e+00
50%    3.614853e+01 -8.677546e+01  5.900000e+01
75%    3.615993e+01 -8.675340e+01  8.700000e+01
max    3.609874e+06  0.000000e+00  1.000000e+02

In [ ]:
plt.bar('chargelevel', 'sumdid', data = july_pkl)
plt.xticks(rotation = 70)
plt.title('stats');

In [ ]:
plt.hist('chargelevel ', bins = 10, data = july_pkl);